@import url('https://fonts.googleapis.com/css?family=Ubuntu'); 
section#main {
    padding-top: 90px;
    height: 1338px;
    background: url("../img/bg.png");
}
.phone h3, p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.soc img {
     
     width: 40px;
     padding-top: 26px;
 }


.sagolovok {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-header h2 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding-bottom: 50px;
}
.main-form {
    
    background-color: rgba(255,255,255,0.42);
    padding-bottom: 50px;
    
    
}

.main-form input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.main_btn {
    background-color: #a60436;
    border: none;
    border-bottom: 3px solid #970230;
    border-radius: 5px;
    padding: 12px 40px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.main_btn:hover {
    background-color: #d90043;
    
}
section#eggs {
    padding-top: 45px;
    padding-bottom: 65px;
}
  
.header_eggs h2 {
    color: black;
    font-size: 30px;
    padding-bottom: 50px;
}
.eggs_ico img {
    width: 120px;
}